{% extends "base.html" %}

{% block content %}
    <div class='row'>
        <div class='col-10 news-content'>
            {% include('messages.html') %}

            {{ news.text|safe }}

            {% if news.comments %}
                <h3>Comments__:</h3>
                {% for comment in news.comments %}
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">{{ comment.text}}</p>
                        <p class="card-text">
                            <small>Published: {{ comment.created.strftime('%d.%m.%Y') }} |</small>
                            <p class="card-text">
                            Autor: {{ comment.user.username }}</small>
                            </p>
                        </p>
                    </div>
                </div>
                {% endfor %}            

            {% endif %}

            {% if current_user.is_authenticated %}

                <form action="{{ url_for('news.add_comment') }}" method="POST">
                    {{ comment_form.hidden_tag() }}
                    <div class="form-group">                    
                        {{ comment_form.comment_text.label }}
                        {{ comment_form.comment_text() }}
                    </div> 
                    {{ comment_form.submit() }}
                </fomr>
           
            {% else %}
                <p>
                    <a href="{{ url_for('user.login', next=request.full_path)}}">Log in</a>  to add comment
                </p>
           {% endif %}
                                     

        </div>
          
        <div class='col-2'>
            <h2>Other news</h2>
            
        </div>
    </div>
{% endblock %}